In [1]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
df1 = pd.read_csv('https://quality.data.gov.tw/dq_download_csv.php?nid=24040&md5_url=780a6267c97c5d163ed14197147b84c1')

In [6]:
df1.head()

  處分機關  裁罰件數（件）  裁罰金額（元）
0  台北市        8   440000
1  桃園市       85  1700000
2  宜蘭縣        0        0
3  新竹縣        2    40000
4  苗栗縣        6   230000

In [10]:
df1.sort_values(by=["裁罰件數（件）"],ascending=False).head()

   處分機關  裁罰件數（件）  裁罰金額（元）
1   桃園市       85  1700000
20  台中市       61  1220000
14  高雄市       35   720000
19  新北市       34   880000
21  台南市       26   520000

In [11]:
df1.sort_values(by=["裁罰金額（元）"],ascending=False).head()

   處分機關  裁罰件數（件）  裁罰金額（元）
1   桃園市       85  1700000
20  台中市       61  1220000
19  新北市       34   880000
14  高雄市       35   720000
21  台南市       26   520000